//CSS Variables

$padding-inline-desktop: 3rem;
$padding-inline-mobile: 1rem;
$sections-space-mobile: 5rem;
$sections-space-desktop: 6rem;
$nav-border: #d9d9d9;
$secondary-blue-color: #0559f7;
$primary-blue-color: #0e306c;
$dark-blue-color: #0b2451;
$navbar-hight-mobile:3.75rem;
$navbar-hight-desktop:3.75rem;
